<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sensor_Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>Sensor_Data</h1>
    <script>//var t = setTimeout(function () { location.reload(); }, 5000);</script>
    <table>
        <tr>
            {% for key in keys %}
            <td>
                {{key}}
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for val in vals %}
            <td>
                {{val}}
            </td>
            {% endfor %}
        </tr>
    </table>
    <canvas id="myChart"></canvas>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: {{timestamps|safe}},
                datasets: [
                    {
                        label: 'Brightness',
                        borderColor: 'rgb(255,200,0)',
                        data: {{brightnesses}},
                        fill: false,
                        radius: 1,
                        yAxisID: 'y0',
                    },
                    {
                        label: 'Temperature',
                        borderColor: 'rgb(230, 46, 0)',
                        data: {{t}},
                        fill: false,
                        radius: 1,
                        yAxisID: 'y1',
                    },
                    {
                        label: 'Humidity',
                        borderColor: 'rgb(77, 148, 255)',
                        data: {{h}},
                        fill: false,
                        radius: 1,
                        yAxisID: 'y2',
                    },
                ]
            },

            // Configuration options go here
            options: {
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
                scales: {
                    yAxes: [
                        {
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'left',
                            id: 'y0',
                            // grid line settings
                            /*gridLines: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },*/
                            ticks: {
                                min: 0,
                            },
                        },
                        {
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'right',
                            id: 'y1',

                            // grid line settings
                            /*gridLines: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },*/
                            ticks: {
                                min: 0,
                            },
                        },
                        {
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'right',
                            id: 'y2',

                            // grid line settings
                            /*gridLines: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },*/
                            ticks: {
                                min: 0,
                            },
                        }
                    ]
                }
            }
        });
    </script>
</body>

</html>